extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/new') New Message
  each message in messages
    .message 
      p User: #{message.user}
      p Text: #{message.text}
      p Added: #{message.added.toLocaleString()}
